*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#111;
}

.galeria{
	width: 450px;
	display: grid;
	grid-template-columns: repeat(3,auto);
	gap: 10px;
}

.galeria a,
.galeria img{
	width: 100%;
	display: block;
}

.modal{
	position: fixed;
	top: left;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	display: none;
	justify-content: center;
	align-items: center;
}

.visible{
	display: flex;
}

.modal button{
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 5em;
	font-family: monospace;
	display: block;
	margin: 0 20px;
	cursor: pointer;
}

.modal img{
	display: block;
	width: 500px;
}